.formclass{
  width:410px;
  margin: auto;
}

.card-body{
  padding: 50px 30px;
}

.form-group{
  margin-top: 15px;
}

.btn{
  margin-top: 15px;
}
.card-footer{
  text-align: right;
}
