<div class="container pt-5 pb-5">
  <div class="col-12">
      <div class="d-flex flex-wrap justify-content-between">
          <div class="card shadow mt-2">
              <div class="card-body">
                  <h5 class="card-title">Admin Component</h5>
                  <p class="card-text">This is Normal Form for Displaying BackEnd Data</p>
                  <button class="btn btn-primary" (click)="getData()">Click</button>
              </div>
          </div>
          <table class="table mt-3">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Address</th>
                <th scope="col">title</th>
                <th scope="col">Numbers</th>
                <th scope="col">Type</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of user">
                <td>{{item.short_address_details.state}}</td>
                <td>{{item.title}}</td>
                <td>{{item.total_views}}</td>
                <td>{{item.type}}</td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
</div>
